@model AppUserVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="~/OuterTools/img/favicon.png">

    <title>FlatLab - Flat & Responsive Bootstrap Admin Template</title>
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="~/OuterTools/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/OuterTools/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/OuterTools/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/OuterTools/css/style.css" rel="stylesheet">
    <link href="~/OuterTools/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>


<body class="login-body">
    <h2 style="color:red">@TempData["anonim"]</h2>
    <div class="container">

        @using (Html.BeginForm("RegisterNow", "Register", FormMethod.Post, new { @class = "form-signin" }))
        {
            <h2>Üye Olunuz</h2>
            @ViewBag.ZatenVar
    <div class="login-wrap">
        @Html.TextBoxFor(x => x.AppUser.UserName, new { @class = "form-control", placeholder = "Kullanıcı ismi giriniz" })
        @Html.ValidationMessageFor(x => x.AppUser.UserName)
        @Html.PasswordFor(x => x.AppUser.Password, new { @class = "form-control", placeholder = "Şifre giriniz" })
        @Html.ValidationMessageFor(x => x.AppUser.Password)
        @Html.PasswordFor(x => x.AppUser.ConfirmPassword, new { @class = "form-control", placeholder = "Şifre tekrar giriniz" })
        @Html.ValidationMessageFor(x => x.AppUser.ConfirmPassword)
        @Html.TextBoxFor(x => x.AppUser.Email, new { @class = "form-control", placeholder = "Email giriniz" })
        @Html.ValidationMessageFor(x => x.AppUser.Email)
        @Html.TextBoxFor(x => x.Profile.FirstName, new { @class = "form-control", placeholder = "İsim giriniz" })
        @Html.ValidationMessageFor(x => x.Profile.FirstName)
        @Html.TextBoxFor(x => x.Profile.LastName, new { @class = "form-control", placeholder = "Soyad girini<" })
        @Html.ValidationMessageFor(x => x.Profile.LastName)

        Adres Giriniz: <br />

        @Html.TextAreaFor(x => x.Profile.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Profile.Address)

        <br />

        <button class="btn btn-primary">Üye ol</button>


        <div class="registration">
            <br />
            @Html.ActionLink("Giriş yap", "Login", "Home")
        </div>






    </div>
        }




    </div>


</body>
</html>
