@model OrdersVM
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="wrapper">
    <!-- invoice start-->
    <section>
        <div class="panel panel-primary">
            
            <div class="panel-body">

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Sipariş tarihi</th>
                            <th>Adres</th>
                            <th class="">Fiyat</th>
                            <th class="">Ürünler</th>
                            <th class="">Kargo Durumu</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Order item in Model.Orders)
                        {
                            <tr>


                                <td>@item.CreatedDate</td>
                                <td>@item.ShippedAddress</td>
                                <td class="">@item.TotalPrice</td>
                                <td>
                                    @foreach (OrderDetail item1 in item.OrderDetails)
                                    {
                                        <ul>
                                            <li>@item1.Product.ProductName @item1.Quantity</li>
                                        </ul>


                                    }
                                </td>
                                <td>@item.Delivery</td>
                                <
                            </tr>
                        }


                    </tbody>
                </table>

            </div>
        </div>
    </section>
   
</section>

