@model AppUserVM
@{
    Layout = null;
}
<style>
    .field-validation-error {
        color: red;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="~/OuterTools/img/favicon.png">

    <title>FlatLab - Flat & Responsive Bootstrap Admin Template</title>
    <!--validation için jsler-->
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="~/OuterTools/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/OuterTools/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/OuterTools/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/OuterTools/css/style.css" rel="stylesheet">
    <link href="~/OuterTools/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-body">
    @Html.Raw(TempData["msg"])
    <div class="container">
        @ViewBag.Kullanici

        @TempData["HesapAktifMi"]
        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-signin" }))
        {
            if (ViewBag.AktifDegil != null)
            {
                <h2>@ViewBag.AktifDegil</h2>
            }


            <div class="login-wrap">
                @Html.TextBoxFor(x => x.AppUser.UserName, new { @class = "form-control", placeholder = "kullanıcı ismi giriniz" })
                @Html.ValidationMessageFor(x => x.AppUser.UserName)
                @Html.PasswordFor(x => x.AppUser.Password, new { @class = "form-control", placeholder = "Şifre  giriniz" })
                @Html.ValidationMessageFor(x => x.AppUser.Password)

                <br />
                <div>
                    <div style="left"><button class="btn btn-success">Log in</button></div>
                </div>
                <br />
                <div>
                    @Html.ActionLink("Ana sayfa", "HomePage", "MainPage", "", new { @class = "btn btn-primary", style = "color:White" })
                </div>

                <br />
                <div>
                    @Html.ActionLink("üye ol", "RegisterNow", "Register", "", new { @class = "btn btn-primary", style = "color:White" })
                </div>

                <div>
                    @Html.ActionLink("Şifremi Unuttum", "ResPasswordMailSend", "Home")
                </div>


            </div>
        }




    </div>


</body>
</html>
